In [1]:
# Reading CSV file
import pandas as pd
data = pd.read_csv("/content/adm_data.csv")
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [2]:
data = data.drop('Serial No.', axis=1)

In [4]:
data.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

### **Creating A Database and A Table**

In [6]:
import sqlite3

# Connecting to the SQLite database
conn = sqlite3.connect('University_database.db')

# Creating a cursor object
cursor = conn.cursor()

# Creating a new table named 'admissions'
cursor.execute('''
    CREATE TABLE admissions (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        GRE_Score INTEGER,
        TOEFL_Score INTEGER,
        University_Rating INTEGER,
        SOP REAL,
        LOR REAL,
        CGPA REAL,
        Research INTEGER,
        Chance_of_Admit REAL
    )
''')

# Committing the transaction
conn.commit()

### **Inserting into the Table**

In [11]:
for _, row in data.iterrows():
    cursor.execute('''
        INSERT INTO admissions (GRE_Score, TOEFL_Score, University_Rating, SOP, LOR, CGPA, Research, Chance_of_Admit)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?)
    ''', (
        row['GRE Score'], row['TOEFL Score'], row['University Rating'],
        row['SOP'], row['LOR '], row['CGPA'], row['Research'], row['Chance of Admit ']
    ))

# Committing the transaction
conn.commit()

### **Extracting all data**

In [21]:
conn = sqlite3.connect('University_database.db')

# Creating a cursor object
cursor = conn.cursor()
cursor.execute("SELECT * FROM admissions")
column_names = [description[0] for description in cursor.description]
# Fetching all the rows
rows = cursor.fetchall()

df = pd.DataFrame(rows, columns=column_names)

# Print the DataFrame
print(df.head())

conn.close()

   id  GRE_Score  TOEFL_Score  University_Rating  SOP  LOR  CGPA  Research  \
0   1        337          118                  4  4.5  4.5  9.65         1
1   2        324          107                  4  4.0  4.5  8.87         1
2   3        316          104                  3  3.0  3.5  8.00         1
3   4        322          110                  3  3.5  2.5  8.67         1
4   5        314          103                  2  2.0  3.0  8.21         0

   Chance_of_Admit
0             0.92
1             0.76
2             0.72
3             0.80
4             0.65

### **Specific Queries**

In [23]:
# select id's of students with GRE_Score>320, TOEFL_Score<110 and still have Chance_of_Admit>75%
conn = sqlite3.connect('University_database.db')

# Creating a cursor object
cursor = conn.cursor()
cursor.execute("SELECT id FROM admissions WHERE GRE_Score>320 AND TOEFL_Score<110 AND Chance_of_Admit>0.75")
column_names = [description[0] for description in cursor.description]
# Fetching all the rows
rows = cursor.fetchall()

df = pd.DataFrame(rows, columns=column_names)

# Print the DataFrame
print(df.head())

conn.close()

    id
0    2
1   27
2  154
3  155
4  211

### **Transforming Data**

In [25]:
# Update research value of student whose id=1
conn = sqlite3.connect('University_database.db')

# Creating a cursor object
cursor = conn.cursor()
cursor.execute("UPDATE admissions SET Research=0 WHERE id=1")
conn.commit()
cursor.execute("SELECT * FROM admissions LIMIT 5")
column_names = [description[0] for description in cursor.description]
# Fetching all the rows
rows = cursor.fetchall()

df = pd.DataFrame(rows, columns=column_names)

# Print the DataFrame
print(df.head())
conn.close()

   id  GRE_Score  TOEFL_Score  University_Rating  SOP  LOR  CGPA  Research  \
0   1        337          118                  4  4.5  4.5  9.65         0
1   2        324          107                  4  4.0  4.5  8.87         1
2   3        316          104                  3  3.0  3.5  8.00         1
3   4        322          110                  3  3.5  2.5  8.67         1
4   5        314          103                  2  2.0  3.0  8.21         0

   Chance_of_Admit
0             0.92
1             0.76
2             0.72
3             0.80
4             0.65